 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-image: url(images/bg-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items:center;
        column-gap: 2rem;
        padding: 5em;
        height: 100vh;
        width: 100%;

    }
    .img-one{
        margin-top: 40px !important;
        margin-left: 40px !important;
    }
    .cr-wrapper {
        font-size: 18px;
        margin-top: 4rem;
        margin-left: 80px;
    }
    
    .cr-heading {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        width: 60%;
        margin-bottom: 2rem;
    }
    
    .cr-paragraph {
        font-family: 'Open Sans', sans-serif;
        width: 60%;
        color: #ebe6e6;
    }
    
    button {
        border: none;
        border-radius: 20px;
        background-color: #fff;
        text-transform: uppercase;
        padding: 0.8rem 4rem;
        margin-top: 2rem;
        font-size: 1.1rem;
        font-family: inherit;
        color: hsl(257, 40%, 49%);
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    }
    
    button:hover {
        background-color: hsl(300, 69%, 71%);
        color: #fff;
        cursor: pointer;
        box-shadow: 20px 20px 50px grey;
    }
    
    .cr-icon {
        margin-top: 6rem;
        margin-left: 25rem;
    }
    
    span {
        font-size: 1.5rem;
        color: #fff;
    }
    
    span:hover {
        color: hsl(300, 69%, 71%);
    } 
    @media(max-width: 1920px) {
        .wrapper {
         display: flex !important;
        }
        
    }

    @media(max-width: 768px) {
        .wrapper {
            flex-direction: column;
        }
        .cl-wrapper img{
          width: 100%;
          margin-top: 20rem;
        }
        .cr-heading {
            font-family: 'Poppins', sans-serif;
            color: #fff;
            width: 100%;
          
        }
        
        .cr-paragraph {
            font-family: 'Open Sans', sans-serif;
            width: 100%;
            color: #ebe6e6;
        }
        
        
    }

